Repository DIT112-V21/group-16, pull requests merged in 2021-05, with the labels that each got.

#42 Turn on spot
  arduino/smartcar/smartcar.ino
Labels: Sprint 2, User story, enhancement

#48 Implemented camera view in the UI and other small changes
  .github/workflows/arduino-build.yml
  .gradle/6.5/executionHistory/executionHistory.bin
  .gradle/6.5/executionHistory/executionHistory.lock
  .gradle/6.5/fileHashes/fileHashes.bin
  .gradle/6.5/fileHashes/fileHashes.lock
  .gradle/6.5/fileHashes/resourceHashesCache.bin
  .gradle/6.5/javaCompile/classAnalysis.bin
  .gradle/6.5/javaCompile/jarAnalysis.bin
  .gradle/6.5/javaCompile/javaCompile.lock
  .gradle/6.5/javaCompile/taskHistory.bin
  .gradle/buildOutputCleanup/buildOutputCleanup.lock
  .idea/caches/build_file_checksums.ser
  app/src/main/java/com/example/firstapp/CleaningOptionActivity.kt
  app/src/main/java/com/example/firstapp/ManualOptionActivity.kt
  app/src/main/res/drawable/drawing_sketchpad__8_.png
  app/src/main/res/drawable/drawing_sketchpad__9_.png
  app/src/main/res/layout/activity_manual_option.xml
  arduino/smartcar/smartcar.ino
Labels: App, Sprint 2

#50 Add AutoModeActivity to App_Draft
  .gradle/6.5/executionHistory/executionHistory.bin
  .gradle/6.5/executionHistory/executionHistory.lock
  .gradle/6.5/fileHashes/fileHashes.bin
  .gradle/6.5/fileHashes/fileHashes.lock
  .gradle/6.5/fileHashes/resourceHashesCache.bin
  .gradle/6.5/javaCompile/classAnalysis.bin
  .gradle/6.5/javaCompile/jarAnalysis.bin
  .gradle/6.5/javaCompile/javaCompile.lock
  .gradle/6.5/javaCompile/taskHistory.bin
  .gradle/buildOutputCleanup/buildOutputCleanup.lock
  .gradle/buildOutputCleanup/outputFiles.bin
  .gradle/checksums/checksums.lock
  .gradle/checksums/md5-checksums.bin
  .gradle/checksums/sha1-checksums.bin
  .idea/caches/build_file_checksums.ser
  .idea/modules/app/firstapp.app.iml
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/example/firstapp/AutoOptionActivity.kt
  app/src/main/java/com/example/firstapp/CleaningOptionActivity.kt
  app/src/main/java/com/example/firstapp/MainActivity.kt
  app/src/main/java/com/example/firstapp/ManualOptionActivity.kt
  app/src/main/res/layout/activity_auto_option.xml
  app/src/main/res/layout/activity_cleaning_option.xml
  app/src/main/res/layout/activity_manual_option.xml
  local.properties
Labels: App, Sprint 3

#61 popUp window for camera view
  .idea/libraries/Gradle__androidx_activity_activity_1_0_0_aar.xml
  .idea/libraries/Gradle__androidx_arch_core_core_runtime_2_0_0_aar.xml
  .idea/libraries/Gradle__androidx_customview_customview_1_0_0_aar.xml
  .idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_2_0_0_aar.xml
  .idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_2_1_0_aar.xml
  .idea/libraries/Gradle__io_github_controlwear_virtualjoystick_1_10_1_aar.xml
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/example/firstapp/MQTT/MqttClient.kt
  app/src/main/java/com/example/firstapp/MQTT/MqttHandler.kt
  app/src/main/java/com/example/firstapp/MainActivity.kt
  app/src/main/java/com/example/firstapp/ManualOptionActivity.kt
  app/src/main/java/com/example/firstapp/MqttClient.kt
  app/src/main/java/com/example/firstapp/PopUpWindow.kt
  app/src/main/res/drawable/joystick_background.png
  app/src/main/res/drawable/pink_ball.png
  app/src/main/res/layout/activity_manual_option.xml
  app/src/main/res/layout/pop_up_window.xml
Labels: App, Sprint 3

#66 UI update(pop up window and joystick)
  app/src/main/java/com/example/firstapp/MQTT/MqttHandler.kt
  app/src/main/java/com/example/firstapp/ManualOptionActivity.kt
  app/src/main/java/com/example/firstapp/PopUpWindow.kt
  app/src/main/res/drawable/_17566.png
  app/src/main/res/drawable/autonomous_vehicles.png
  app/src/main/res/drawable/collision.png
  app/src/main/res/drawable/drawing_sketchpad__13_.png
  app/src/main/res/drawable/joystick222.png
  app/src/main/res/drawable/joystick_back.png
  app/src/main/res/drawable/manual_button.png
  app/src/main/res/drawable/speed.png
  app/src/main/res/layout/activity_cleaning_option.xml
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/layout/activity_manual_option.xml
  app/src/main/res/layout/pop_up_window.xml
  app/src/main/res/values/strings.xml
Labels: App, Sprint 3, User story

#72 Auto Mode
  app/src/main/res/layout/activity_auto_option.xml
Labels: App, Sprint 3

#69 UI bug fix, enabling to display front sensor data
  app/src/main/java/com/example/firstapp/MQTT/MqttHandler.kt
  app/src/main/java/com/example/firstapp/ManualOptionActivity.kt
  app/src/main/res/layout/activity_manual_option.xml
  app/src/main/res/layout/pop_up_window.xml
  arduino/smartcar/smartcar.ino
Labels: App, Bug fix, Sprint 3

#77 layout changes in Automated screen and connectivity
  app/build.gradle
  app/src/main/java/com/example/firstapp/AutoOptionActivity.kt
  app/src/main/java/com/example/firstapp/MQTT/MqttHandler.kt
  app/src/main/res/drawable/pattern1.png
  app/src/main/res/drawable/pattern2.png
  app/src/main/res/layout/activity_auto_option.xml
  app/src/main/res/layout/activity_cleaning_option.xml
  app/src/main/res/layout/activity_manual_option.xml
  app/src/main/res/layout/pop_up_window.xml
Labels: App

#79 Progress Bar in ManualOption
  app/src/main/java/com/example/firstapp/MQTT/MqttHandler.kt
  app/src/main/java/com/example/firstapp/ManualOptionActivity.kt
  app/src/main/res/layout/activity_manual_option.xml
  arduino/smartcar/smartcar.ino
Labels: App, Arduino, Sprint 3

#85 seekbar for velocity & text field for size input
  app/src/main/java/com/example/firstapp/AutoOptionActivity.kt
  app/src/main/java/com/example/firstapp/MQTT/MqttHandler.kt
  app/src/main/java/com/example/firstapp/ManualOptionActivity.kt
  app/src/main/java/com/example/firstapp/PopUpWindow.kt
  app/src/main/res/drawable/blueball.png
  app/src/main/res/drawable/drawing_sketchpad__19_.png
  app/src/main/res/drawable/drawing_sketchpad__20_.png
  app/src/main/res/drawable/seek_bar_ruler.xml
  app/src/main/res/drawable/seek_bar_slider.xml
  app/src/main/res/layout/activity_auto_option.xml
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/layout/activity_manual_option.xml
  app/src/main/res/layout/pop_up_window.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/themes.xml
Labels: App, Sprint 4

#89 Cleaning patterns
  arduino/smartcar/smartcar.ino
Labels: Arduino, Sprint 4

#90 Fixed bug related to cleaning patterns
  arduino/smartcar/smartcar.ino
Labels: Arduino, Bug fix, Sprint 4, help wanted

#91 Removed camera window from auto screen.
  app/src/main/java/com/example/firstapp/AutoOptionActivity.kt
  app/src/main/java/com/example/firstapp/MQTT/MqttHandler.kt
  app/src/main/res/layout/activity_auto_option.xml
  app/src/main/res/layout/activity_manual_option.xml
  arduino/smartcar/smartcar.ino
Labels: App, Arduino, Bug fix, Sprint 4

#94 Updated readme
  README.md
Labels: Sprint 4, documentation

#92 Bag capacity in autonomous cleaning screen
  README.md
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/example/firstapp/AutoOptionActivity.kt
  app/src/main/java/com/example/firstapp/MQTT/MqttHandler.kt
  app/src/main/java/com/example/firstapp/activity/AutonomousActivity.kt
  app/src/main/java/com/example/firstapp/activity/CleaningOptionActivity.kt
  app/src/main/java/com/example/firstapp/activity/MainActivity.kt
  app/src/main/java/com/example/firstapp/activity/ManualCleaningActivity.kt
  app/src/main/java/com/example/firstapp/activity/PopUpWindow.kt
  app/src/main/java/com/example/firstapp/mqtt/MqttClient.kt
  app/src/main/res/drawable-v24/back.png
  app/src/main/res/drawable-v24/back1.png
  app/src/main/res/drawable-v24/option.png
  app/src/main/res/drawable-v24/trash.png
  app/src/main/res/drawable/progressbar.xml
  app/src/main/res/layout/activity_auto_option.xml
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/layout/activity_manual_option.xml
  app/src/main/res/layout/pop_up_window.xml
  arduino/smartcar/smartcar.ino
Labels: App, Arduino, Sprint 4

#96 Create README.md
  README.md
Labels: documentation

#97 Autonomous UI update
  app/src/main/res/layout/activity_auto_option.xml
  app/src/main/res/layout/activity_manual_option.xml
Labels: App, Sprint 4

#101 Small adjustments
  app/src/main/java/com/example/firstapp/activity/AutonomousActivity.kt
  app/src/main/java/com/example/firstapp/activity/MainActivity.kt
  app/src/main/java/com/example/firstapp/activity/ManualCleaningActivity.kt
  app/src/main/java/com/example/firstapp/mqtt/MqttHandler.kt
  app/src/main/res/layout/activity_auto_option.xml
  app/src/main/res/layout/activity_manual_option.xml
  app/src/main/res/layout/pop_up_window.xml
  arduino/smartcar/.vscode/settings.json
Labels: App, Sprint 4

#99 Updated README.md with description
  README.md
Labels: Sprint 4, documentation

#95 Update README.md
  README.md
Labels: Sprint 4, documentation

#106 Last layout change
  app/src/main/java/com/example/firstapp/activity/ManualCleaningActivity.kt
  app/src/main/java/com/example/firstapp/mqtt/MqttHandler.kt
  app/src/main/res/drawable/background.png
  app/src/main/res/drawable/background2.png
  app/src/main/res/layout/activity_auto_option.xml
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/layout/activity_manual_option.xml
Labels: App, Sprint 4

#109 new bug fix pull only arduino file
  arduino/smartcar/smartcar.ino
Labels: Bug fix

#110 Code refactoring
  app/src/main/java/com/example/firstapp/mqtt/MqttHandler.kt
  app/src/main/res/layout/activity_auto_option.xml
  app/src/main/res/layout/activity_manual_option.xml
  arduino/smartcar/smartcar.ino
Labels: App, Arduino, Bug fix, Sprint 4

#104 update readme
  README.md
Labels: Sprint 4, documentation

#111 Adaptedcode
  app/src/main/java/com/example/firstapp/mqtt/MqttHandler.kt
  app/src/main/res/layout/activity_auto_option.xml
  app/src/main/res/layout/activity_manual_option.xml
  arduino/smartcar/smartcar.ino
Labels: Arduino, Refactoring code, Sprint 4

#112 Update README.md
  README.md
Labels: Sprint 4, documentation

#113 Update README.md
  README.md
Labels: Sprint 4, documentation
